input {
    width: 80%;
    margin-left: auto;
    margin: 10px 0;
}

body {
    font-size: 12px;
    color: #4A586A;
    font-family:Helvetica;
}

.citybox {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background: #F0EFF5;
}

.citybox .search-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F0EFF5;
    z-index: 1000;
}

.citybox .search-wrap input {
    margin: 0 auto;
}

.citybox .citypanel .city-type {
    margin-bottom: 15px;
    position:fixed;
    top:50px;
    width:100%;
}

.citybox .citypanel .city-type li {
    float: left;
    width: 50%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.citybox .citypanel .city-type li.active {
    color: #f39800;
    border-bottom: 2px solid #f39800;
}

.citybox .citypanel .current-city, .citybox .citypanel .hot-city {
    width: 92%;
    margin: 0 auto 10px;
}

.citybox .citypanel .current-city span, .citybox .citypanel .hot-city span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
}

.citybox .citypanel .current-city li, .citybox .citypanel .hot-city li {
    float: left;
    margin-right: 4.5%;
    margin-bottom: 10px;
    width: 26.5%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}

.citybox .citypanel .region-box {
    display: none;
}

.citybox .citypanel .region-box .list {
    margin-bottom: 10px;
}

.citybox .citypanel .region-box .list span.letter {
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 10px;
    font-size: 15px;
}

.citybox .citypanel .region-box .list li {
    padding: 0 16px;
    font-size: 13px;
    background: #fff;
}

.citybox .citypanel .region-box .list li a {
    display: block;
    padding: 12px 6px;
    text-decoration: none;
    border-bottom: 1px solid #efefef;
}

.citybox .citypanel .region-box .list li a:hover, .citybox .citypanel .region-box .list li a:focus {
    color: #4A586A;
}

.citybox .citypanel .region-box .list li:last-child a {
    border-bottom: none;
    color: #4A586A;
}

.citybox .citypanel .region-box .list li:hover, .citybox .citypanel .region-box .list li:focus {
    background: #E6E6E6;
}

.citybox .citypanel .region-box .list li:last-child {
    border-bottom: 0;
}

.citybox .citypanel .region-box .list li span.cityname {
    color: #4A586A;
    font-size: 14px;
}

.citybox .citypanel .region-box .list li span.citycode {
    /*color: #4A586A;*/
    margin-left: 12px;
    font-size: 12px;
    color: #ccc;
}

.citybox .citypanel .pos-nav {
    display: none;
    position: fixed;
    width: 10.2%;
    text-align: center;
    right: 0;
    top: 88px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.5);
}

.citybox .citypanel .pos-nav li {
    height: 30px;
    line-height: 30px;
}

.citybox .citypanel .pos-nav li[rel='hot'] {
    font-size: 12px;
}

.citybox .citypanel .pos-nav li.active {
    background: #EEEEEE;
}

.citybox .citypanel .big-letter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #f39800;
    border-radius: 50%;
}

.citybox .citylist li {
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    background: #fff;
}
.citybox .citylist li:last-child{
    border-bottom: 0;
}
.citybox .citylist li:hover, .citybox .citylist li:focus {
    background: #E6E6E6;
}

.citybox .citylist li span.cityname{
    font-size: 14px;
}

.citybox .citylist li span.citycode{
    margin-left: 12px;
    font-size: 10px;
    color: #ccc;
}

.citybox .citylist li span.cityalpha{
    position: absolute;
    right: 10px;
}

.form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    background-image: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-input:-ms-input-placeholder, .form-input::-webkit-input-placeholder {
    color: #999;
}

.form-input::-ms-expand {
    background-color: transparent;
    border: 0;
}